<section class="Todo-section">
  <div class="TodoSectionTitle" style="display:flex;">
    <h2 class="TodoSectionTitle-text"><%= section_title %></h2>
    <p class="TodoSectionTitle-remainingCount"><%= todos.completed.count %> /<%= todos.count %></p>
  </div>
  <ul>
    <% todos.each do |todo|%>
     <li class="TodoItem">
        <div class="TodoItem-container" style="display:flex;">
          <input class="TodoItem-checkbox" type="checkbox">
          <p class="text">
          <%= todo.todo_text %>
          <% if show_due_date %>
          <p class="TodoItem-dueDate"><%= todo.due_date.to_s(:short) %></p>
          <% end %>
          </p>


        </div>
     </li>

    <% end %>
  </ul>
</section>
